*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/compile
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
